body {
	max-width: 600px;
	margin: auto;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:0.95em;
	background:#fffefa;
}

h1, h2 {
	/*text-align: center;*/
	font-family: 'Roboto Slab', Georgia, Times, serif;
	font-weight: normal;
}

h1 {
	font-size: 3em;
	margin: 1em 0 0.5em 0;
}

h2 {
	font-size: 1.8em;
	margin: 1em 0 1em 0;
	border-bottom: solid 1px black;
	clear:both;
}

header li {
	display: inline-block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0 1em;
}

li {
	padding-bottom: 1em;
}

li ul {
	color: #888;
	margin: 0;
	padding: 0;
}

li li {
	padding: 0;
}

p {
	margin: 1em;
}

#link-wrapper {
	/*text-align: center;*/
	/*margin: 1em auto;*/
	list-style:none;
}

#link-wrapper a {
	display: inline-block;
	padding: 5px 20px;
	margin-top: 1em;
	background: #5b9dff;
	border-radius: 3px;
	color:white;
	text-decoration: none;
}

#link-wrapper a:hover, a:focus {
	background: #7eb2ff;
}