body {
	font-family:'Open Sans', Arial, sans-serif;
	margin:0;
	padding:0;
	background:#191919;
	color:#fafafa;
}

h1 {
	font-family: 'Roboto Slab', Georgia, Times, serif;
	font-weight: normal;
	margin:0;
	padding:0;
	font-size:40px;
}

a, a:visited {
	color:white;
	text-decoration:underline;
	margin:0 0 0 10px;
}

a:hover, a:focus {
	text-decoration:none;
}

#wrapper {
	width:90%;
	min-width:500px;
	max-width:1000px;
	margin:80px auto 0 auto;
}

#expose {	
	width:calc(50% - 40px);	
	padding:10px;
	margin:0 10px 5px 10px;
	float:left;
	text-align:right;
}

#skills {
	width:calc(50% - 40px);
	margin:10px 10px 10px calc(50% + 5px);
	padding:10px;
}

#skills ul {
	list-style-type:none;
	margin:0;
	padding:10px;
}

#skills ul li {
	padding-bottom:10px;
}

.details {
	padding:10px;
	color:#bbbbbb;
}

@media screen and (max-width: 500px) {
	a {
		margin:0 10px 0 0;
	}
	#wrapper {
		width:calc(100% - 20px);
		min-width:0;
		margin:10px;
	}

	#expose {
		float:none;
		width:calc(100% - 40px);
		margin:10px 10px 0 10px;
		text-align:left;
	}

	#skills {
		margin:0 10px 10px 10px;
		width:calc(100% - 40px);
	}

	#skills ul {
		padding:0;
	}
}
