/*
body {
	max-width: 600px;
	margin: 3em auto;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:0.95em;
	background:#fffefa;
}

h1, h2 {
	font-family: 'Roboto Slab', Georgia, Times, serif;
	font-weight: normal;
}

h1 {
	font-size: 3em;
	margin: 1em 0 0.5em 0;
}

h2 {
	font-size: 1.8em;
	margin: 1em 0 1em 0;
	border-bottom: solid 1px black;
	clear:both;
}

header li {
	display: inline-block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0 1em;
}

li {
	padding-bottom: 1em;
}

li ul {
	color: #888;
	margin: 0;
	padding: 0;
}

li li {
	padding: 0;
}

p {
	margin: 1em;
}

#link-wrapper a:hover, a:focus {
	background: #7eb2ff;
}
*/




body {
	font-family:'Open Sans', Arial, sans-serif;
	margin:0;
	padding:0;
	background:#191919;
	color:#fafafa;
}

h1 {
	font-family: 'Roboto Slab', Georgia, Times, serif;
	font-weight: normal;
	margin:0;
	padding:0;
	font-size:40px;
}

#wrapper {
	width:90%;
	min-width:600px;
	max-width:1000px;
	margin:80px auto 0 auto;
}

#expose {	
	width:calc(50% - 40px);	
	padding:10px;
	margin:0 10px 5px 10px;
	float:left;
	text-align:right;
}

#skills {
	width:calc(50% - 40px);
	margin:10px 10px 10px calc(50% + 5px);
	padding:10px;
}

#skills ul {
	list-style-type:none;
	margin:0;
	padding:10px;
}

#skills ul ul {
	padding:10px;
}

#skills ul ul {
	color:#bbbbbb;
}

@media screen and (max-width: 600px), screen and (max-device-width:500px) {
	h1 {
		font-size:100px;
	}

	#wrapper {
		width:calc(100% - 80px);
		min-width:0;
		margin:40px;
	}

	#expose {
		float:none;
		width:calc(100% - 40px);
		margin:10px;
		text-align:left;
	}

	#skills {
		margin:10px;
		width:calc(100% - 40px);
	}

	#skills ul {
		padding:0;
	}
}